@import url("normalize.css");

header {
  padding: 20px;
  margin: 0;
  background: #007765;
  text-align: right;
  position: sticky;
}

text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  color: #ffffff;
}
